*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #424530;
    display: flex;
    // organiza os itens na largura.
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    // organiza os itens na altura.
}

div{
    display: flex;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 40vw;
    list-style: none;
    color: #E09232;
}

button{
    width: 9vw;
    border-radius: 20px;
    border: none;
    color: #AB8262;
    font-weight: bold;
}

//abaixo tem um aninhamento.
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    background-color: #424530;
    img{
        width: 90vw;
        height: 70vh;
    }
}